@{
    ViewBag.Title = "Index";
}
@model List<Piranhas.Models.SwimmerViewModel>
<h2>Index</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
<style type="text/css">
    .bs-example {
        margin: 20px;
    }
</style>

<div class="bs-example">
    <ul class="nav nav-tabs">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li @(i == ViewBag.Active ? Html.Raw("class=\"active\"") : Html.Raw(""))>
                <a data-toggle="tab" href="#section-@i">@Model[i].Swimmer.FirstName @Model[i].Swimmer.LastName</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div id="section-@i" class="tab-pane fade in @(i == ViewBag.Active ? Html.Raw("active") : Html.Raw(""))">
                @Html.DisplayFor(model => model[i].StrokePreferenceViewModel.StrokePreference)
                @Html.ActionLink("Edit", "Edit", new { id = Model[i].StrokePreferenceViewModel.StrokePreference.StrokePreferenceID, active = i }) 
            </div>
        }
    </div>
</div>
